[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/vim-conviction"]
	path = bundle/vim-conviction
	url = https://github.com/bdellaterra/vim-conviction.git
	ignore = dirty
[submodule "bundle/vim-greyman"]
	path = bundle/vim-greyman
	url = https://github.com/bdellaterra/vim-greyman.git
	ignore = dirty
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = git@github.com:Shougo/neocomplete.vim.git
	ignore = dirty
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
	ignore = dirty
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
	ignore = dirty
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = git@github.com:Shougo/unite.vim.git
	ignore = dirty
[submodule "bundle/vimfiler.vim"]
	path = bundle/vimfiler.vim
	url = git@github.com:Shougo/vimfiler.vim.git
	ignore = dirty
[submodule "bundle/vim-winslow"]
	path = bundle/vim-winslow
	url = https://github.com/bdellaterra/vim-winslow.git
	ignore = dirty
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
	ignore = dirty
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
	ignore = dirty
[submodule "bundle/targets.vim"]
	path = bundle/targets.vim
	url = https://github.com/wellle/targets.vim
	ignore = dirty
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/ap/vim-css-color
	ignore = dirty
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align
	ignore = dirty
[submodule "bundle/vim-exchange"]
	path = bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
	ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
	ignore = dirty
[submodule "bundle/matchit.zip"]
	path = bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
	ignore = dirty
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
	ignore = dirty
[submodule "bundle/vim-speedy"]
	path = bundle/vim-speedy
	url = git@github.com:bdellaterra/vim-speedy.git
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-vexed"]
	path = bundle/vim-vexed
	url = git@bitbucket.org:bdellaterra/vim-vexed.git
[submodule "bundle/vim-sleuth"]
	path = bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vim-anzu"]
	path = bundle/vim-anzu
	url = https://github.com/osyo-manga/vim-anzu.git
[submodule "bundle/neoyank.vim"]
	path = bundle/neoyank.vim
	url = https://github.com/Shougo/neoyank.vim.git
[submodule "bundle/unite-tag"]
	path = bundle/unite-tag
	url = https://github.com/tsukkee/unite-tag.git
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = https://github.com/Shougo/unite-outline.git
[submodule "bundle/neoinclude.vim"]
	path = bundle/neoinclude.vim
	url = https://github.com/Shougo/neoinclude.vim.git
[submodule "bundle/unite-quickfix"]
	path = bundle/unite-quickfix
	url = https://github.com/osyo-manga/unite-quickfix.git
[submodule "bundle/unite-help"]
	path = bundle/unite-help
	url = https://github.com/Shougo/unite-help.git
[submodule "bundle/unite-colorscheme"]
	path = bundle/unite-colorscheme
	url = https://github.com/ujihisa/unite-colorscheme.git
[submodule "bundle/neomru.vim"]
	path = bundle/neomru.vim
	url = https://github.com/Shougo/neomru.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-skeletons"]
	path = bundle/vim-skeletons
	url = https://github.com/pgilad/vim-skeletons
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
