[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-conviction"]
	path = bundle/vim-conviction
	url = https://github.com/bdellaterra/vim-conviction.git
[submodule "bundle/vim-greyman"]
	path = bundle/vim-greyman
	url = https://github.com/bdellaterra/vim-greyman.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = git@github.com:Shougo/neocomplete.vim.git
